.App {
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.App-container {
  /* width: 320px; */
  width: 480px;
  padding: 30px 0;
}
.App-container .panel .panel-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App-container .panel .panel-block .delete {
  display: none;
}
.App-container .panel-block:hover {
  cursor: pointer;
}
.App-container .panel-block:hover .delete {
  display: block;
}
